<nav class="navbar navbar-light" style="background-color: #148f43;">
  <a class="navbar-brand" href="#">Diagnostico Administrativo</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
     
        <!-- <li class="list-group-item" routerLinkActive="active" routerLink="radar-chart">Radar</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="pie-chart">Pie</li>  
        <div  routerLink="graficas"></div> -->
        <li class="list-group-item" routerLinkActive="active" routerLink="graficas">Radar</li>
        
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>